# Este archivo contiene el código necesario para poder leer los ficheros xml y txt.Debido a que este contenido aún no se ha visto en clase, pero se verá a lo largo del módulo 1

## Lectura del fichero XML

Nos devuelve una lista que contiene diccionarios con los diferentes elementos del archivo xml.

Ejemplo:

[{'level_0': 1, 'index': 1'time': 784, 'age': '50-54', 'gender': '0' },
 {'level_0': 2, 'index': 2'time': 924, 'age': '22-24', 'gender': '0'},
 {'level_0': 2, 'index': 2'time': 575, 'age': '45-49', 'gender': '0'},
 {'level_0': 2, 'index': 2'time': 781, 'age': '45-49', 'gender': '0'}
 {'level_0': 2, 'index': 2'time': 1020, 'age': '25-29', 'gender': '1'}]


> Recomendación: Aprender a tratar los datos de un elemento del diccionario, antes de intentar aplicarlo a todos los datos del fichero xml.

In [28]:
import re
import os
import xml.etree.ElementTree as ET

tree = ET.parse('data_xml.xml')
root = tree.getroot()


xml_list = []
for child in root:
    xml_dict = {}
    for subchild in child:
        xml_dict[subchild.tag] = subchild.text
    xml_list.append(xml_dict) # Es una lista que contiene diccionarios

In [ ]:
dict1 = {'level_0': '2', 'index': '2', 'time': '924', 'age': '22-24', 'gender': '0'}

In [4]:
# Cambiamos el concepto de los géneros:
for c in xml_list:
    if c["gender"] == "0":
        c["gender"] = "man"
    elif c["gender"] == "1":
        c["gender"] = "woman"
    elif c["gender"] == "2":
        c["gender"] = "nonbinary"
    elif c["gender"] == "3":
        c["gender"] = "prefer not to say"
    elif c["gender"] == "4":
        c["gender"] = "prefer to self-describe"

In [5]:
def limpieza_xml_genero (datos):
    for c in datos:
        if c["gender"] == "0":
            c["gender"] = "man"
        elif c["gender"] == "1":
            c["gender"] = "woman"
        elif c["gender"] == "2":
            c["gender"] = "nonbinary"
        elif c["gender"] == "3":
            c["gender"] = "prefer not to say"
        elif c["gender"] == "4":
            c["gender"] = "prefer to self-describe"

In [15]:
limpieza_xml_genero(xml_list)

In [7]:
# Eliminamos la columna que resulta redundante:
for a in xml_list:
    a.pop("level_0")

In [8]:
xml_list[34]

{'index': '35', 'time': '460', 'age': '30-34', 'gender': 'woman'}

In [ ]:
print(xml_list)

In [1]:

class Datos_xml:
    # Esta clase almacenará la función para leer y limpiar los datos xml.
    # Sólo tenemos que darle la ruta dónde se encuetra nuestro archivo.

    def __init__ (self, ruta):

        self.ruta = ruta

    def lectura_xml(self):
            import re
            import os
            import xml.etree.ElementTree as ET
            
            tree = ET.parse(self.ruta)
            root = tree.getroot()
            
            xml_list = []
            for child in root:
                xml_dict = {}
                for subchild in child:
                    xml_dict[subchild.tag] = subchild.text
                    xml_list.append(xml_dict) # Es una lista que contiene diccionarios
            return xml_list
    
        
    def limpieza_xml(self, xml_list):

        self.xml_list = xml_list
            # Con esta función, limpiamos los datos obtenidos. 
            # Como argumento, tendremos que darle la variable creada con el método lectura_xml.
            
        for c in xml_list:
            
            if c["gender"] == "0":
                c["gender"] = "man"
            
            elif c["gender"] == "1":
                c["gender"] = "woman"
        
            elif c["gender"] == "2":
                c["gender"] = "nonbinary"
        
            elif c["gender"] == "3":
                c["gender"] = "prefer not to say"
            
            elif c["gender"] == "4":
                c["gender"] = "prefer to self-describe"

        return xml_list


    def eliminar_columna(self, xml_limpio):

        self.xml_limpio = xml_limpio
            # Con esta función, eliminamos la primera columna, puesto que resulta redundante.
            # Como argumento, tendremos que darle la variable creada con el método limpieza_xml.
        try:
            for a in xml_limpio:
             a.pop("level_0")

        except: pass
        return xml_limpio

    
    def conversion(self, xml_limpio):

        self.xml_limpio = xml_limpio
        xml_tuplas = []

        for i in xml_limpio:
            
            xml_tuplas.append(tuple(i.values()))

        return xml_tuplas

In [2]:
datos_xml = Datos_xml('data_xml.xml')

In [3]:
xml_lectura = datos_xml.lectura_xml()

In [4]:
xml_limpio = datos_xml.limpieza_xml(xml_lectura)

In [5]:
xml_columna = datos_xml.eliminar_columna(xml_limpio)

In [6]:
xml_final = datos_xml.conversion(xml_columna)

In [7]:
xml_final[2]

('1', '784', '50-54', 'man')

## Lectura del fichero TXT

Nos devuelve una lista que contiene todos los elementos del archivo txt, cada elemento de la lista se toma como un único string. Cada elemento de la lista termina con \n

Ejemplo:

['index_sql;Q3;Q4;Q5;Q6;Q7;Q8;Q9;Q11;Q12;Q13;Q14;Q15;Q16;Q17;Q20;Q21;Q22;Q23;Q24;Q25;Q26;Q32;Q33;Q34;Q35;Q41\n',
 '1;Indonesia;Master’s degree;Program/Project Manager;20+ years;null, SQL, C, C++, Java;Python;null,   Notepad++  ,  Jupyter Notebook;A cloud computing platform (AWS, Azure, GCP, hosted notebooks, etc);null, None;Never; Matplotlib ;Under 1 year;  Scikit-learn ;Linear or Logistic Regression, Decision Trees or Random Forests;Manufacturing/Fabrication;1000-9,999 employees;1-2;We are exploring ML methods (and may one day put a model into production);null, Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data;60,000-69,999;$0 ($USD);;;;;Advanced statistical software (SPSS, SAS, etc.)\n',
 '2;Pakistan;Master’s degree;Software Engineer;1-3 years;Python, C++, Java;Python;null,  PyCharm ,  Jupyter Notebook, Other;A laptop;null, Other;Never; Matplotlib ;I do not use machine learning methods;;;Academics/Education;1000-9,999 employees;0;I do not know;null, None of these activities are an important part of my role at work;$0-999;$0 ($USD);MySQL , MongoDB ;MySQL ;null, None;;Basic statistical software (Microsoft Excel, Google Sheets, etc.)\n',
 '3;Mexico;Doctoral degree;Research Scientist;20+ years;Python;Python;null,   Spyder  ,  Jupyter Notebook;A cloud computing platform (AWS, Azure, GCP, hosted notebooks, etc); NVIDIA GPUs ;More than 25 times; Matplotlib ;5-10 years;  Scikit-learn ,   TensorFlow ,  Keras ;null, Dense Neural Networks (MLPs, etc), Convolutional Neural Networks, Recurrent Neural Networks;Academics/Education;1000-9,999 employees;0;I do not know;null, Do research that advances the state of the art of machine learning;30,000-39,999;$0 ($USD);;;;;Local development environments (RStudio, JupyterLab, etc.)\n',


> Recomendación: Aprender a tratar los datos de algunos de los elementos de la lista, antes de intentar aplicarlo a todos los datos del fichero txt.
 - Primer elemento de la lista:
    lista[0] = 'index_sql;Q3;Q4;Q5;Q6;Q7;Q8;Q9;Q11;Q12;Q13;Q14;Q15;Q16;Q17;Q20;Q21;Q22;Q23;Q24;Q25;Q26;Q32;Q33;Q34;Q35;Q41\n'

In [4]:
with open('data_txt_reorder.txt','r') as file:
    file_source = file.readlines() # Es una lista que cada línea del fichero txt como un string de todos los datos.

In [5]:
# Cambiamos los 'null' por 'NULL':
new_list = []
for z in file_source:
    resultado = z.replace('null', 'NULL')
    new_list.append(resultado)

In [23]:
def cambiar_null(a):
    new_list = []
    for z in a:
        resultado = z.replace('null', 'NULL')
        new_list.append(resultado)
    return new_list

In [6]:
# Cambiamos los '<' por 'under':
new_list2 = []
for y in new_list:
    resultado = y.replace('<', ' under')
    new_list2.append(resultado)

In [27]:
def cambiar_under(a):
    new_list = []
    for z in a:
        resultado = z.replace('<', 'under')
        new_list.append(resultado)
    return new_list

In [7]:
# Eliminamos los saltos de línea:
new_list3 = []
for x in new_list2:
    resultado = x.replace('\n', '')
    new_list3.append(resultado)

In [ ]:
def eliminar_saltos(a):
    new_list = []
    for z in a:
        resultado = z.replace('\n', '')
        new_list.append(resultado)
    return new_list

In [8]:
# Eliminamos los espacios dobles:
new_list4 = []
for v in new_list3:
    resultado = v.replace("  ", " ")
    new_list4.append(resultado)

In [ ]:
def eliminar_espacios(a):
    new_list = []
    for z in a:
        resultado = z.replace('  ', ' ')
        new_list.append(resultado)
    return new_list

In [100]:
class Datos_txt:
# Esta clase servirá para leer y limpiar los ficheros txt.
# Solo tenemos que darle la ruta donde se encuentra nuestro archivo.

    def __init__ (self, ruta):

        self.ruta = ruta

# Este método abre nuestro archivo para poder empezar a trabajar con él.

    def lectura_txt(self):

        import re
        import os
        
        with open(self.ruta,'r') as file:
            txt_list = file.readlines() 
            
        return txt_list

    def cambiar_null(self, txt_list):
        
        self.txt_list = txt_list
        txt_null = []
    
        for z in txt_list:
            resultado = z.replace('null', 'NULL')
            txt_null.append(resultado)
        return txt_null
        
        
    def cambiar_under(self, txt_null):
        
        self.txt_null = txt_null
        
        txt_under = []
        for z in txt_null:
            resultado = z.replace('<', 'under')
            txt_under.append(resultado)
        return txt_under
        
    
    def eliminar_saltos(self, txt_under):
        
        self.txt_under = txt_under
        
        txt_saltos = []
        for z in txt_under:
            resultado = z.replace('\n', '')
            txt_saltos.append(resultado)
        return txt_saltos


    def eliminar_espacios(self, txt_saltos):
        
        self.txt_saltos = txt_saltos
        
        txt_espacios = []
        for z in txt_saltos:
            resultado = z.replace('  ', ' ')
            txt_espacios.append(resultado)
        return txt_espacios

    def str_int(self, txt_espacios):

        self.txt_espacios = txt_espacios

        for x in range[1::]:
            
            if x[0] == str:
               x[0] == int


    def conversion(self, lista_final):

        self.txt_espacios = txt_espacios
        lista_values = []

        for x in txt_espacios:

            
            value = tuple(x.split(";"))
            lista_values.append(value)

        return lista_values

In [101]:
datos_txt = Datos_txt('data_txt_reorder.txt')

In [102]:
lectura_txt = datos_txt.lectura_txt()

In [103]:
txt_null = datos_txt.cambiar_null(lectura_txt)

In [104]:
txt_under = datos_txt.cambiar_under(txt_null)

In [105]:
txt_saltos = datos_txt.eliminar_saltos(txt_under)

In [106]:
txt_espacios = datos_txt.eliminar_espacios(txt_saltos)

In [107]:
txt_int = datos_txt.str_int(txt_espacios)

TypeError: 'type' object is not subscriptable

In [82]:
txt_final = datos_txt.conversion(txt_espacios)

In [74]:
txt_int = datos_txt.str_int(txt_final)

TypeError: 'type' object is not subscriptable

In [65]:
txt_final[0]

('index_sql',
 'Q3',
 'Q4',
 'Q5',
 'Q6',
 'Q7',
 'Q8',
 'Q9',
 'Q11',
 'Q12',
 'Q13',
 'Q14',
 'Q15',
 'Q16',
 'Q17',
 'Q20',
 'Q21',
 'Q22',
 'Q23',
 'Q24',
 'Q25',
 'Q26',
 'Q32',
 'Q33',
 'Q34',
 'Q35',
 'Q41')

In [23]:
import mysql.connector

In [43]:
class Insertar_datos:
# Esta clase servirá insertar los datos en nuestra BBDD:
# Solo tenemos que darle la variable con las values, y el nombre de la tabla:

    import mysql.connector

    def __init__ (self, datos, tabla, columnas):

        self.datos = datos
        self.tabla = tabla
        self.columnas = columnas 

# Este método inserta nuestros datos en la BBDD:

    def insercion(self, datos, tabla, columnas):
        
        
        self.datos = datos
        self.tabla = tabla
        self.columnas = columnas 

        
        cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database= 'proyecto_1_team_1')


        mycursor = cnx.cursor()
        sql = f"INSERT INTO {self.tabla} ({self.columnas}) VALUES (%s)"
        val = self.datos

        try: 
            mycursor.executemany(sql, val)
            cnx.commit()
            print(mycursor.rowcount, "registro insertado.")

        except mysql.connector.Error as err:
            print(err)
            print("Error Code:", err.errno)
            print("SQLSTATE", err.sqlstate)
            print("Message", err.msg)

In [46]:
insertar_datos = Insertar_datos(xml_final, 'tabla_xml', ('index_xml, time, age, gender, index_sql'))

In [47]:
insertar_datos.insercion(xml_final, 'tabla_xml', ('index_xml, time, age, gender, index_sql'))

Not all parameters were used in the SQL statement
Error Code: -1
SQLSTATE None
Message Not all parameters were used in the SQL statement

In [17]:
import re
import os
import xml.etree.ElementTree as ET
import mysql.connector
import pandas as pd

In [30]:
class Insertar_datos_2:
# Esta clase servirá insertar los datos en nuestra BBDD:
# Solo tenemos que darle la variable con las values, y el nombre de la tabla:

    import mysql.connector

    def __init__ (self, datos):

        self.datos = datos

# Este método inserta nuestros datos en la BBDD:

    def insercion_xml(self):
    
        cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database= 'proyecto_1_team_1')

        mycursor = cnx.cursor()

        sql = """INSERT INTO datos_xml (index_sql, time, age, gender) VALUES (%s, %s, %s, %s, %s)"""

        try: 
            mycursor.executemany(sql, self.datos)
            cnx.commit()
            print(mycursor.rowcount, "registro insertado.")

        except mysql.connector.Error as err:
            print(err)
            print("Error Code:", err.errno)
            print("SQLSTATE", err.sqlstate)
            print("Message", err.msg)

        return mycursor.close()

In [31]:
insertar_datos_2 = Insertar_datos_2(xml_final)

In [32]:
insertar_datos_2.insercion_xml()

Not enough parameters for the SQL statement
Error Code: -1
SQLSTATE None
Message Not enough parameters for the SQL statement

True

In [40]:
class Insertar_datos_3:
# Esta clase servirá insertar los datos en nuestra BBDD:
# Solo tenemos que darle la variable con las values, y el nombre de la tabla:

    import mysql.connector

    def __init__ (self, datos):

        self.datos = datos

# Este método inserta nuestros datos en la BBDD:

    def insercion_txt(self, datos):
    
        cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database= 'proyecto_1_team_1')

        mycursor = cnx.cursor()

        sql = """INSERT INTO datos_txt (index_sql, q3, q4, q5, q6, q7, q8, q9, q11, q12, q13, q14, q15, q16, q17, q20, q21, q22, q23, q24, q25, q26, q32, q33, q34, q35, q41) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
        val = (datos)

        try: 
            mycursor.executemany(sql, self.datos)
            cnx.commit()
            print(mycursor.rowcount, "registro insertado.")

        except mysql.connector.Error as err:
            print(err)
            print("Error Code:", err.errno)
            print("SQLSTATE", err.sqlstate)
            print("Message", err.msg)

        return mycursor.close()

In [41]:
insertar_datos_3 = Insertar_datos_3(txt_final)

In [42]:
insertar_datos_3.insercion_txt(txt_final)

1366 (HY000): Incorrect integer value: 'index_sql' for column 'index_sql' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect integer value: 'index_sql' for column 'index_sql' at row 1

True