In [6]:
import re
import os
import xml.etree.ElementTree as ET
import mysql.connector 
import pandas as pd

In [4]:
# Esta función nos permite crear la base de datos para el cliente
def crear_bbdd(nombre_bbdd):
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                                host='127.0.0.1')

    mycursor = cnx.cursor()

    sql = (f"CREATE DATABASE {nombre_bbdd}")
    try:
        mycursor.execute(sql)
        print(f"Se ha creado la BBDD {nombre_bbdd} correctamente.")

    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)
    return mycursor.close()

In [7]:
crear_bbdd("proyecto_1_equipo_1")

1007 (HY000): Can't create database 'proyecto_1_equipo_1'; database exists
Error Code: 1007
SQLSTATE HY000
Message Can't create database 'proyecto_1_equipo_1'; database exists

True

## Creación de tablas

In [8]:
# Esta función nos permite crear tablas en la base de datos
def creacion_tablas(query):
    
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                                host='127.0.0.1', database= 'proyecto_1_equipo_1')

    mycursor = cnx.cursor()
    
    try: 
        mycursor.execute(query)
        cnx.commit()
        print(mycursor)

    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)
    
    else:
        mycursor.close()
        cnx.close()

- Query para crear la tabla de datos sql

In [1]:
data_sql = """CREATE TABLE IF NOT EXISTS data_sql (
index_sql INT NOT NULL AUTO_INCREMENT,
q10_part_1 VARCHAR(255),
q10_part_2 VARCHAR(255),
q10_part_3 VARCHAR(255),
q10_part_4 VARCHAR(255),
q10_part_5 VARCHAR(255),
q10_part_6 VARCHAR(255),
q10_part_7 VARCHAR(255),
q10_part_8 VARCHAR(255),
q10_part_9 VARCHAR(255),
q10_part_10 VARCHAR(255),
q10_part_11 VARCHAR(255),
q10_part_12 VARCHAR(255),
q10_part_13 VARCHAR(255),
q10_part_14 VARCHAR(255),
q10_part_15 VARCHAR(255),
q10_part_16 VARCHAR(255),
q10_other VARCHAR(255),
d482xta VARCHAR(255),
PRIMARY KEY (index_sql));"""

In [9]:
creacion_tablas(data_sql)

CMySQLCursor: CREATE TABLE IF NOT EXISTS data_sql (
in..

- Query para crear la tabla de datos xml.

In [10]:
data_xml = """CREATE TABLE IF NOT EXISTS data_xml(
                        index_xml INT,
                        `time` VARCHAR(255),
                        age VARCHAR(255),
                        gender VARCHAR(255),
                        index_sql INT,
                        PRIMARY KEY(index_xml),
                        CONSTRAINT fk_sql_xml
                        FOREIGN KEY (index_sql)
                        REFERENCES data_sql(index_sql))"""

In [11]:
creacion_tablas(data_xml)

CMySQLCursor: CREATE TABLE IF NOT EXISTS data_xml(
   ..

- Query para crear la tabla de datos txt.

In [12]:
data_txt = """CREATE TABLE IF NOT EXISTS data_txt (
index_txt INT NOT NULL AUTO_INCREMENT,
index_sql INT NOT NULL,
q3 VARCHAR(255),
q4 VARCHAR(255),
q5 VARCHAR(255),
q6 VARCHAR(255),
q7 VARCHAR(255),
q8 VARCHAR(255),
q9 VARCHAR(255),
q11 VARCHAR(255),
q12 VARCHAR(255),
q13 VARCHAR(255),
q14 VARCHAR(255),
q15 VARCHAR(255),
q16 VARCHAR(255),
q17 LONGTEXT,
q20 VARCHAR(255),
q21 VARCHAR(255),
q22 VARCHAR(255),
q23 VARCHAR(255),
q24 LONGTEXT,
q25 VARCHAR(255),
q26 VARCHAR(255),
q32 LONGTEXT,
q33 VARCHAR(255),
q34 VARCHAR(255),
q35 VARCHAR(255),
q41 VARCHAR(255),
PRIMARY KEY (index_txt),
CONSTRAINT fk_tabla_sql_tabla_txt
FOREIGN KEY (index_sql)
REFERENCES data_sql (index_sql) ON DELETE CASCADE ON UPDATE CASCADE);"""

In [13]:
creacion_tablas(data_txt)

CMySQLCursor: CREATE TABLE IF NOT EXISTS data_txt (
in..