In [1]:
import re
import os
import xml.etree.ElementTree as ET
import mysql.connector 
import pandas as pd

In [17]:
def crear_bbdd(nombre_bbdd):
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                                host='127.0.0.1')

    mycursor = cnx.cursor()

    sql = (f"CREATE DATABASE {nombre_bbdd}")
    try:
        mycursor.execute(sql)
        print(f"Se ha creado la BBDD {nombre_bbdd} correctamente.")

    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)
    return mycursor.close()

In [18]:
crear_bbdd("nueva_bbdd")

1007 (HY000): Can't create database 'nueva_bbdd'; database exists
Error Code: 1007
SQLSTATE HY000
Message Can't create database 'nueva_bbdd'; database exists

True

In [29]:
def crear_tablas (bbdd, tabla):
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                                host='127.0.0.1', database= bbdd)
    mycursor= cnx.cursor()

    try:
        mycursor.execute(tabla)
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)
    return mycursor.close()

In [30]:
tabla_data_sql="CREATE TABLE data_sql (index_sql INT NOT NULL,\
                                        q10_part_1 TEXT,\
                                        q10_part_2 TEXT,\
                                        q10_part_3 TEXT,\
                                        q10_part_4 TEXT,\
                                        q10_part_5 TEXT,\
                                        q10_part_6 TEXT,\
                                        q10_part_7 TEXT,\
                                        q10_part_8 TEXT,\
                                        q10_part_9 TEXT,\
                                        q10_part_10 TEXT,\
                                        q10_part_11 TEXT,\
                                        q10_part_12 TEXT,\
                                        q10_part_13 TEXT,\
                                        q10_part_14 TEXT,\
                                        q10_part_15 TEXT,\
                                        q10_part_16 TEXT,\
                                        q10_other TEXT,\
                                        d482xta TEXT,\
                                        PRIMARY KEY (index_sql))"

                                        
tabla_data_txt="CREATE TABLE data_txt (index_txt INT NOT NULL AUTO_INCREMENT,\
                                        index_sql INT,\
                                        q3 TEXT (1000),\
                                        q4 TEXT (1000),\
                                        q5 TEXT (1000),\
                                        q6 TEXT (1000),\
                                        q7 TEXT (1000),\
                                        q8 TEXT (1000),\
                                        q9 TEXT (1000),\
                                        q11 TEXT (1000),\
                                        q12 TEXT (1000),\
                                        q13 TEXT (1000),\
                                        q14 TEXT (1000),\
                                        q15 TEXT (1000),\
                                        q16 TEXT (1000),\
                                        q17 TEXT (1000),\
                                        q20 TEXT (1000),\
                                        q21 TEXT (1000),\
                                        q22 TEXT (1000),\
                                        q23 TEXT (1000),\
                                        q24 TEXT (1000),\
                                        q25 TEXT (1000),\
                                        q26 TEXT (1000),\
                                        q32 TEXT (1000),\
                                        q33 TEXT (1000),\
                                        q34 TEXT (1000),\
                                        q35 TEXT (1000),\
                                        q41 TEXT (1000),\
                                        PRIMARY KEY (index_txt),\
                                        CONSTRAINT `fk_index_sql`\
                                        FOREIGN KEY (index_sql)\
                                        REFERENCES data_sql(index_sql))"
                                        
                                        
tabla_data_xml="CREATE TABLE data_xml (index_xml INT NOT NULL AUTO_INCREMENT,\
                                        `time` INT NOT NULL,\
                                        age VARCHAR (50) NOT NULL,\
                                        gender VARCHAR (50) NOT NULL,\
                                        index_sql INT NOT NULL,\
                                        PRIMARY KEY (index_xml),\
                                        CONSTRAINT `fk_data_sql`\
                                        FOREIGN KEY (`index_sql`)\
                                        REFERENCES `data_sql`(`index_sql`))"

In [31]:
crear_tablas('nueva_bbdd', tabla_data_sql)

MySQLCursor: CREATE TABLE data_sql (index_sql INT NOT..

True